@import "tailwindcss";

@theme {
  /* Tonos tierra y vegetación */
  --color-earth-dark: #1A1C19;    /* Un fondo gris verdoso muy oscuro */
  --color-earth-panel: #242922;   /* Color de musgo seco para tarjetas */
  --color-leaf-green: #4ade80;    /* Verde hoja natural */
  --color-river-blue: #7dd3fc;    /* Azul agua clara */
  --color-soil-brown: #A07855;    /* Tono tierra para acentos */
}

body {
  @apply bg-earth-dark text-[#E2E8F0]; /* Texto blanco hueso, menos agresivo */
  margin: 0;
}